body{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: hsl(0, 0%, 59%);
}
.attribution{
  margin-top: 5px;
  object-position: bottom;
}
.site{
  background-color: hsl(185, 75%, 39%);
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.patternTop, .patternBottom{
  position: absolute;
  z-index: 1;
}

.patternTop{
 position: absolute;
 left: -750px;
 top: -600px;
}
.patternBottom{
 position: absolute;
 right: -750px;
 bottom: -600px;
}

.card{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 342px;
  width: 325px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.pattern{
  width: 100%;
}

.profileFoto{
 position: absolute;
 top: 78px;
 border-radius: 50%;
 border: 4px solid white;
}

.about{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  display: flex;
}

.user{
  display: flex;
}
.name{
  font-weight: 700;
  margin-right: 10px;
  color: black;
}
.city{
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.data{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 59%, 0.384);
}

.group{
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}
.number{
  font-weight: 700;
  color: black;
  letter-spacing: 1px;

}
.kind{
  margin-top: 5px;
  font-size: 10px;
  letter-spacing: 2px;
}